services:
  # test:
  #   build:
  #     context: ./rabbit
  #     dockerfile: ./docker/Dockerfile.nvblox
  #   container_name: rabbit-test
  #   privileged: true
  #   working_dir: /rabbit
  #   runtime: nvidia
  #   volumes:
  #     - ./rabbit:/rabbit
  #   environment:
  #     - NVIDIA_VISIBLE_DEVICES=all
  #     - NVIDIA_DRIVER_CAPABILITIES=all
  #   command: /opt/venv/bin/python -m pytest -s /rabbit/src/nvblox_torch

  nats:
    image: nats:latest
    container_name: nats
    command: -c /etc/nats/nats-server.conf
    volumes:
      - ./nats/nats-server.conf:/etc/nats/nats-server.conf:ro
      - ./nats/data:/data/nats
      - ../cert:/etc/cert:ro
    restart: unless-stopped
    ports:
      - '4222:4222'
      - '9222:9222'
      - '8222:8222'
    healthcheck:
      test: ['CMD', 'nats', 'server', 'ping', '--server=nats://localhost:4222']
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  nats-init:
    image: bitnami/natscli
    depends_on:
      - nats
    volumes:
      - ./nats/init.sh:/init.sh
    entrypoint: ['/bin/bash', '/init.sh']
    restart: 'no'

  rabbit-zed:
    build:
      context: ./rabbit
      dockerfile: ./docker/Dockerfile.zed
    container_name: rabbit-zed
    privileged: true
    working_dir: /rabbit
    runtime: nvidia
    volumes:
      - ./rabbit:/rabbit
      - /tmp/argus_socket:/tmp/argus_socket
      - ../../zed/settings:/usr/local/zed/settings
      - ../../zed/resources:/usr/local/zed/resources
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    restart: unless-stopped
    command: uv run src/node/zed.py
    depends_on:
      - nats-init

  rabbit-nvblox:
    build:
      context: ./rabbit
      dockerfile: ./docker/Dockerfile.nvblox
    container_name: rabbit-nvblox
    privileged: true
    working_dir: /rabbit
    runtime: nvidia
    volumes:
      - ./rabbit:/rabbit
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    restart: unless-stopped
    command: python3 src/node/nvblox.py
    depends_on:
      - nats-init

  # rabbit-roboclaw:
  #   build: ./rabbit-roboclaw
  #   container_name: rabbit-roboclaw
  #   privileged: true
  #   restart: unless-stopped

  # rabbit-steering:
  #   build: ./rabbit-steering
  #   container_name: rabbit-steering
  #   privileged: true
  #   restart: unless-stopped

  # rabbit-ina:
  #   build: ./rabbit-ina
  #   container_name: rabbit-ina
  #   privileged: true
  #   restart: unless-stopped

  # nats-dashboard:
  #   image: mdawar/nats-dashboard
  #   container_name: nats-dashboard
  #   environment:
  #     - NATS_URL=nats://nats:4222
  #   ports:
  #     - '8000:80'
  #   depends_on:
  #     - nats

  # nats-exporter:
  #   image: natsio/prometheus-nats-exporter:latest
  #   container_name: nats-exporter
  #   command: '-connz_detailed -healthz -routez -subz -varz http://nats:8222'
  #   ports:
  #     - '7777:7777'
  #   depends_on:
  #     - nats

  # influxdb:
  #   image: influxdb
  #   ports:
  #     - '8086:8086'
  #   environment:
  #     - DOCKER_INFLUXDB_INIT_MODE=setup
  #     - DOCKER_INFLUXDB_INIT_USERNAME=admin
  #     - DOCKER_INFLUXDB_INIT_PASSWORD=robot_rabbit
  #     - DOCKER_INFLUXDB_INIT_ORG=rabbit
  #     - DOCKER_INFLUXDB_INIT_BUCKET=rabbit
  #     - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=rabbit

  # telegraf:
  #   image: telegraf
  #   container_name: telegraf
  #   depends_on:
  #     - influxdb
  #   privileged: true
  #   volumes:
  #     - ./monitoring/telegraf.conf:/etc/telegraf/telegraf.conf:ro
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - /proc:/host/proc:ro
  #     - /sys:/host/sys:ro
  #     - /:/host:ro
  #   environment:
  #     - HOST_ETC=/host/etc
  #     - HOST_PROC=/host/proc
  #     - HOST_SYS=/host/sys
  #     - HOST_VAR=/host/var
  #     - HOST_RUN=/host/run
  #     - HOST_MOUNT_PREFIX=/host

  # loki:
  #   image: grafana/loki
  #   container_name: loki
  #   command: -config.file=/etc/loki/loki-config.yaml
  #   volumes:
  #     - ./monitoring/loki-config.yaml:/etc/loki/loki-config.yaml:ro
  #   ports:
  #     - '3100:3100'
  #   restart: unless-stopped

  # promtail:
  #   image: grafana/promtail
  #   container_name: promtail
  #   command: -config.file=/etc/promtail/promtail-config.yaml
  #   volumes:
  #     - ./monitoring/promtail-config.yaml:/etc/promtail/promtail-config.yaml:ro
  #     - /var/lib/docker/containers:/var/lib/docker/containers:ro
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   depends_on: [loki]
  #   restart: unless-stopped

  # grafana:
  #   image: grafana/grafana-oss
  #   container_name: grafana
  #   environment:
  #     - GF_PROVISIONING_CONFIG_ENABLE=1
  #     - GF_AUTH_ANONYMOUS_ENABLED=true
  #     - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
  #     - GF_AUTH_BASIC_ENABLED=false
  #     - GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION=true
  #   volumes:
  #     - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
  #   ports:
  #     - '3000:3000'
  #   restart: unless-stopped
