:root {
    --color-primary: #00ff41;
    --color-danger: #ff0000;
    --color-black: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

* {
    flex-shrink: 0;
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    background-color: var(--color-black);
    color: var(--color-primary);
    padding: 0;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: 'JetBrains Mono', monospace;
    font-variant-numeric: tabular-nums;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

canvas {
    outline: none;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.iconify {
    vertical-align: top;
}

pre {
    margin: 0;
}

:focus-visible {
    outline: none;
}
