<clickhouse>
  <max_server_memory_usage>805306368</max_server_memory_usage>
  <mark_cache_size>134217728</mark_cache_size>
  <index_mark_cache_size>67108864</index_mark_cache_size>
  <uncompressed_cache_size>67108864</uncompressed_cache_size>

  <background_pool_size>2</background_pool_size>
  <background_merges_mutations_concurrency_ratio>2</background_merges_mutations_concurrency_ratio>
  <background_common_pool_size>2</background_common_pool_size>
  <background_schedule_pool_size>8</background_schedule_pool_size>
  <background_move_pool_size>1</background_move_pool_size>
  <background_fetches_pool_size>1</background_fetches_pool_size>
  <background_buffer_flush_schedule_pool_size>1</background_buffer_flush_schedule_pool_size>
  <background_message_broker_schedule_pool_size>1</background_message_broker_schedule_pool_size>
  <background_distributed_schedule_pool_size>1</background_distributed_schedule_pool_size>
  <merge_tree>
    <number_of_free_entries_in_pool_to_execute_mutation>2</number_of_free_entries_in_pool_to_execute_mutation>
    <number_of_free_entries_in_pool_to_lower_max_size_of_merge>2</number_of_free_entries_in_pool_to_lower_max_size_of_merge>
    <number_of_free_entries_in_pool_to_execute_optimize_entire_partition>2</number_of_free_entries_in_pool_to_execute_optimize_entire_partition>
  </merge_tree>

  <asynchronous_metrics_update_period_s>60</asynchronous_metrics_update_period_s>
  <asynchronous_heavy_metrics_update_period_s>300</asynchronous_heavy_metrics_update_period_s>

  <metric_log remove="1" />
  <asynchronous_metric_log remove="1" />
  <trace_log remove="1" />
  <text_log remove="1" />
  <query_thread_log remove="1" />
  <query_views_log remove="1" />
  <part_log remove="1" />
  <processors_profile_log remove="1" />
  <opentelemetry_span_log remove="1" />
  <query_metric_log remove="1" />
  <latency_log remove="1" />
  <error_log remove="1" />
  <session_log remove="1" />
  <backup_log remove="1" />
  <blob_storage_log remove="1" />
  <s3queue_log remove="1" />
  <asynchronous_insert_log remove="1" />
  <background_schedule_pool_log remove="1" />

  <query_log replace="1">
    <database>system</database>
    <table>query_log</table>
    <engine>ENGINE = MergeTree ORDER BY (event_date, event_time) TTL event_date + INTERVAL 1 DAY</engine>
    <flush_interval_milliseconds>7500</flush_interval_milliseconds>
  </query_log>
</clickhouse>
